body {
    background-color: rgb(247, 243, 2);
    
    background-repeat: no-repeat;
    background-position: 60% 0%;
    background-size: cover;
}
h2 {
    text-align: center;
    font-family:Helvetica Neue, Helvetica, sans-serif;
    font-weight: 900;
    background-color: rgba(145, 0, 0, 0.89);
    color: white;
}

p {
    text-align: center;
    font-family:Helvetica Neue, Helvetica, sans-serif;
    font-weight: 900;
    color: white;
}

.header {
    width: 50%;
margin: 0 auto;
text-align: center;
}
.logo {
    width: 50%;
    margin: 0 auto; 
}

.logo img {
    max-width: 100%; 
}

.recepten-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.recept-kaart {
    width: calc(20% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.recept-kaart h2 {
    margin-top: 0;
    font-size: 18px;
    text-align: center;
}

.recept-kaart img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 9999;
}