@font-face {
    font-family: 'Turqoise';
    src: url('../Turquoise/Turquoise.ttf') format('truetype');
}

body {
    background-color: rgba(92, 191, 199, 255);
    background-repeat: no-repeat;
    background-position: 60% 0%;
    background-size: cover;
}

.titel {
    text-align: center;
    font-family: 'Turqoise', sans-serif;
    font-weight: 900;
    background-color: rgba(92, 191, 199, 255);
    color: white;
    font-size: 90px;
}
.p1 {
    text-align: center;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
p {
    text-align: center;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

.header {
    background-color: rgba(92, 191, 199, 255);
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 50%;
    margin: 0 auto;
}

.logo img {
    max-width: 100%;
}


#popup-form-container {
    position: fixed;
    top: 70%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: none;
}

#popup-form-container form {
    text-align: center;
}

.form-row {
    margin-bottom: 20px;
}

.form-input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea.form-input {
    height: 100px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#close {
    color: black;
    cursor: pointer;
    font-size: 14px;
}

#close:hover {
    color: #333;
}

.btn-con {
    text-align: center;
    margin-top: 20px;
}
.contact-button {
    background: #fff;
    color: #555;
    border: 1px solid #eee;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    text-transform: uppercase;
    font-weight: bolder;
    transition: all 0.3s linear;
    padding: 1em 2em;
    cursor: pointer;
    outline: none;
}

.contact-button:hover {
    background: #eee;
    color: gray;
}
@media only screen and (max-width: 768px) {
    .recept-kaart {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    .recept-kaart {
        width: calc(100% - 20px);
    }
}